.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 10 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #765;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #f00;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #fff;
}

table, th {
  border: 1px solid black;
  font-size: 20px;
}

td {
  border-right: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

div {
    margin: 5px;
}

.London {
    background-color: #eb5a46;
    border: 1px solid black;

}

.Barcelona {
    background-color: #0079bf;
    border: 1px solid black;
}

.Manchester {
    background-color: #61bd4f;
    border: 1px solid black;
}

